version: "3.9"

services:

  db:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: Manoj82704
      MONGO_INITDB_ROOT_PASSWORD: Manoj14
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    expose:
      - "27017"

  test-backend:
    image: manoj82704/test-backend:latest
    container_name: test-backend
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    image: manoj82704/frontend:latest
    container_name: frontend
    restart: unless-stopped
    networks:
      - app-network

  reverse-proxy:
    image: nginx:stable-alpine
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - test-backend
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge